/*--------------------
TABLE OF CONTENTS
----------------------
RESETS
 UNIVERSAL
 COLOURS
 FONTS


ELEMENTS
 HEADERS
 LINKS
  GENERIC LINK
  BUTTON LINKS
 IMAGES


COMPONENTS
 CAPTION
 DEVICE VISIBILITY TOGGLERS


LAYOUT
 STRUCTURE
  STRUCTURE MEDIA QUERIES
 GRID
 FIXED LAYOUT
  FIXED LAYOUT MEDIA QUERIES
 HEADER


CONTROL CLUSTERS
 BORDER RADIUS CONTROL
 BOX SHADOW CONTROL
 GRADIENT CONTROL
--------------------*/

/*--------------------
----------------------
RESETS
----------------------
--------------------*/
html {
  height: 100%;
  width: 100%;
}

/*--------------------
UNIVERSAL
--------------------*/

button
{
  cursor: pointer;
}

p
{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin-bottom: 0;
}

img
{
  vertical-align: middle;
  max-width: 100%;
}

.garuda-wrapper
{
  margin: 0 auto;
  overflow-y: hidden;
}

a
{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*--------------------
COLOURS
--------------------*/

body
{
  background-color: #E7E8E9;
}

.garuda-subTitleStart
{
  color: #27aae1;
  margin-bottom: 5px;
}

#garuda-languages a
{
  color: #009198;
}


/*--------------------
FONTS
--------------------*/

body
{
  font-size: 16px;
}

.garuda-wrapper
{
  letter-spacing: -0.5px;
}

.garuda-subTitle p span
{
  font-weight: bold;
}

#garuda-languages a, #garuda-navigation a
{
  text-decoration: none;
}

.garuda-font11
{
  font-size: 11px;
}

.garuda-font12
{
  font-size: 12px;
}

.garuda-font14
{
  font-size: 14px;
}

.garuda-font16
{
  font-size: 16px;
}


/*--------------------
----------------------
ELEMENTS
----------------------
--------------------*/


/*--------------------
HEADERS
--------------------*/



/*--------------------
LINKS
--------------------*/


/*--------------------
GENERIC LINK
--------------------*/


/*--------------------
BUTTON LINKS
--------------------*/


/*--------------------
IMAGES
--------------------*/


/*--------------------
FORMS
--------------------*/

/*--------------------
----------------------
COMPONENTS
----------------------
--------------------*/


/*--------------------
CAPTION
--------------------*/


/*--------------------
DEVICE VISIBILITY TOGGLERS
--------------------*/

body.hide-until-app-initialised {
  background: #fff url(../img/interface/preloaders/img-preloader.gif) center center no-repeat;
  height:100%;
  width:100%;
}

body.hide-until-app-initialised #garuda-wrapper {
  display: none;
}


/*--------------------
----------------------
LAYOUT
----------------------
--------------------*/


/*--------------------
STRUCTURE
--------------------*/


/*--------------------
DEFAUL STYLES FOR COMMON STYLES
--------------------*/

#garuda-headMainTitle
{
  position: relative;
  background: url('../img/mobile/hp_main_title.jpg') repeat-x top;
  font-family: Arial, Helvetica, sans-serif;  
  width: 100%;
  text-align: center;
  color: white;
  padding: 15.4px 0 15.4px 0;
  soutline:0;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

#garuda-backButton, #garuda-backButton-ind
{
  width: 39px;
  height: 18px;
  position: absolute;
  padding: 14px;
  top: 2px;
  cursor: pointer;
}

#garuda-backButton a
{
  background: url('../img/mobile/cm_icon_back.png') no-repeat center;
  background-color: transparent!important;
  background-size: 39px 18px!important;
  -webkit-background-size: 39px 18px!important;
  -moz-background-size: 39px 18px!important;
  -o-background-size: 39px 18px!important;
  width: 39px!important;
  height: 18px!important;
}

#garuda-backButton-ind a
{
  background: url('../img/mobile/cm_icon_back_ind.png') no-repeat center;
  background-color: transparent!important;
  background-size: 39px 18px!important;
  -webkit-background-size: 39px 18px!important;
  -moz-background-size: 39px 18px!important;
  -o-background-size: 39px 18px!important;
  width: 39px!important;
  height: 18px!important;
}

#garuda-wirelessHead
{
  width: 30px;
  min-height: 30px;
  position: absolute;
  padding: 10px;
  top: 0px;
  right: 0;
}

#garuda-wirelessHead a
{
  background: url('../img/mobile/cm_icon_wireless_head.png') no-repeat center;
  background-color: transparent!important;
  background-size: 30px 30px!important;
  -webkit-background-size: 30px 30px!important;
  -moz-background-size: 30px 30px!important;
  -o-background-size: 30px 30px!important;
  width: 30px!important;
  min-height: 30px!important;
}

/*--------------------
LANDING PAGE
--------------------*/

#garuda-connection
{
  width: 320px;
  margin: 0 auto;
  position: relative;
  min-height: 98px;
  margin-bottom: 20px;
}

#garuda-connectNow
{
  width: 134px;
  height: 41px;
  float: left;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 5px;
  padding-right: 4px;
  margin-left: 14px;
  position: relative;
  background: white;
  border-bottom: solid 2px #29AAE2;
  border-top: solid 2px #29AAE2;
  border-left: solid 2px #29AAE2;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: solid 1px #8885BB;
}

#garuda-GAWebsite
{
  width: 134px;
  height: 41px;
  float: left;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 5px;
  padding-right: 4px;
  margin-right: 14px;
  position: relative;
  background: white;
  border-bottom: solid 2px #29AAE2;
  border-top: solid 2px #29AAE2;
  border-right: solid 2px #29AAE2;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: solid 1px #8885BB;
}

.garuda-titleConnect
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #636363;
  display: inline-block;
    *display:inline;
    zoom:1;
  letter-spacing: -1px;
  vertical-align: middle;
  width: 70px;
}

.garuda-descriptionConnect
{
  color: #27AAE1;
  margin-left: 48px;
  font-family: Verdana;
  font-style: italic;
  font-size: 10.3px;
  line-height: 12px;
}

#garuda-wirelessIcon,
#garuda-GAIcon

{
  display:inline-block;
    *display:inline;
    zoom:1;
  vertical-align: middle;
  width: 41px;
}

#garuda-wirelessIcon img,
#garuda-GAIcon img
{
  margin:0;
}


/*--------------------
LANDING NAVIGATION
--------------------*/

#garuda-navigation
{
  background-color: white;
  border: solid 2px #29AAE2;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  margin-left: 14px;
  margin-right: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#garuda-navigation span
{
  display: block;
}

.garuda-navigationElement
{
  position: relative;
  border-bottom: solid thin #6fbbe8;
  min-height: 50px;
}

.garuda-navigationElementLast
{
  position: relative;
  min-height: 50px;
}

.garuda-navigationElement .paragraph, .garuda-navigationElementLast .paragraph
{
  color: #636363;
  margin-left: 56px;
  margin-top: -27px;
  width: 195px;
  float: left;
}

.garuda-generalIcon
{
  width: 42px;
  margin-left: 3px;
  margin-top: 4px;
  float: left;
  height: 42px;
}

/*--------------------
FOOTER
--------------------*/

#garuda-content #footer
{
  background: url('../img/mobile/cm_footer.jpg') no-repeat center;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  color: white;
  font-size: 10px;
  font-family: Verdana;
  text-align: center;
  position: relative;
  width: 100%;
  min-height: 45px;
}

#garuda-linkList
{
  position: relative;
  padding-top: 10px;
  margin-bottom: 5px;
  margin-left: 19px;
}

#garuda-linkList li:first-child
{
  border: none;
}

#garuda-linkList li
{
  display: inline;
  margin-top: 9px;
  margin-bottom: 0px;
  border-left: 1px solid white;
  padding-left: 3px;
  margin-left: -9px;
}

#garuda-linkList li a
{
  color: #fff;
  text-decoration: none;
  padding: 12px 0px;
}

#garuda-endTextFooter
{
  position: relative;
}

/*--------------------
INTERNET SERVICE
--------------------*/

.garuda-intTitle
{
  text-align: center;
  background-color: #29AAE2;
  color: white;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 6px;
  padding-bottom: 7px;
  font-size: 12.97px;
  /* width: 288px; */
  padding-left: 8px;
  padding-right: 8px;
}

.garuda-intCommonText
{
  background-color: white;
  color: #464647;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -khtml-border-radius: 0 0 5px 5px;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 6px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  text-align: justify;
  line-height: 15px;
}

.garuda-intCommonText dl dt
{
  color: #27AAE1;
}

.garuda-intCommonText dl dd
{
  margin-bottom: 12px;
  word-wrap: break-word;
}

.garuda-subTitle
{
  text-align: left;
  background-color: white;
  color: #464647;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 22px;
  line-height: 16px;
}

.garuda-stepNumber
{
  width: 20px;
  float: left;
  height: 16px;
}

.garuda-stepNumber + p
{
  margin-left: 29px;
}

#garuda-stepByStep ol
{
  text-align: left;
  background-color: white;
  color: #464647;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -khtml-border-radius: 0 0 5px 5px;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  margin-bottom: 0;
  list-style: none;
}

#garuda-stepByStep ol li
{
  padding-top: 3px;
  padding-bottom: 3px;
}

#garuda-listStep1
{
  margin-top: 3px;
}

#garuda-stepNumber2
{
  margin-top: 4px;
}

/*--------------------
PACKAGE
--------------------*/

.garuda-subTitleInside
{
  margin-top: 15px;
  margin-bottom: 40px;
}

#garuda-connectNowButton
{
  width: 236px;
  background-color: #dd6326!important;
  color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  padding: 24px;
  margin-bottom: 4px;
  font-size: 16px;
  text-align: center;
  display: block;
  margin-top: 80px;
}

/*--------------------
GFF
--------------------*/

#garuda-subTitleCards
{
  margin-left: 8px;
  margin-right: 8px;
}

.garuda-goToGFF
{
  margin-left: 8px;
  margin-right: 8px;
}

.garuda-goToGFF span
{
  display: block;
  text-align: center;
}

.garuda-goToGFF a
{
  text-decoration: none;
}

.garuda-goToBackground
{
  background: url('../img/mobile/gff_goto.png') no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-position: center;
  position: relative;
  width: 304px;
  min-height: 49px;
}

.garuda-goToTitle
{
  color: #EBEBEB;
  padding-top: 12px;
  font-size: 18px;
}

.garuda-goToSubtitle
{
  color: #27AAE1;
  padding-top: 4px;
  font-style: italic;
  font-size: 9px;
}

/*--------------------
SHOP
--------------------*/

.garuda-subTitle a
{
  color: #27aae1;
}

.garuda-subTitle a:visited
{
  color: #27aae1;
}

/*--------------------
ERROR
--------------------*/

#garuda-errorPage
{
  display: none;
}

#garuda-homeLink
{
  width: 8.75%;
  margin: 0 auto;
}

#garuda-serviceUnavailable
{
  text-align: center;
}

/*--------------------
SECURITY MOBILE PAGE GARUDA
--------------------*/
.garuda-security-header{
  height: auto;
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid gray;
}

#garuda-security-icon-lock{
  line-height: 0;
  float: left;
  margin-right: 5px;
  margin-left: 10px;
}

#garuda-security-icon-lock img{
  margin-bottom: 0;
}

.garuda-security-header span{
  color: gray;
}

#garuda-security-content{
  height: auto;
  overflow: hidden;
  color: black;
}

.garuda-security-content-item{
  float: left;
}

#garuda-security-content-item1{
  padding: 15px 0;
  width: 93%;
  margin-left: 10px;
}

#garuda-security-item1-txt{
  font-size: 14px;
  font-weight: bold;
}

#garuda-security-content-item2{
  border-top: 1px solid gray;
}

.garuda-security-captcha-item{
  width: 50%;
  float: left;
}

#garuda-security-captcha{
  height: 60px;
  overflow: hidden;
  padding: 35px 0;
}

#garuda-security-captcha-img{
  background: #fff;
  text-align: center;
  padding: 6px 0;
  color: #3198FD;
}

#garuda-security-captcha-txt{
  position: relative;
  height: 100%;
}

#garuda-security-cant{
  font-size: 10px;
  width: 92%;
  margin-left: 8%;
}

#garuda-security-refresh{
  position: absolute;
  bottom: 0;
  width: 92%;
  margin-left: 8%;
}

#garuda-security-refresh-icon{
  position: absolute;
  right: 0;
  bottom: 0;
}

#garuda-security-refresh-icon img{
  margin-bottom: 0;
}

#garuda-security-enter-code{
  font-size: 11px;
  font-weight: bold;
}

#garuda-security-enter-code p{
  margin: 10px 0;
}

.garuda-security-p-title{
  display: block;
  font-weight: bold;
}

#garuda-security-content-item2 p{
  margin: 10px;
}

#garuda-security-airline{
  color: blue;
  font-size: 12px;
  padding: 10px 0;
  width: 22%;
  text-align: center;
  margin: 10px;
}

#garuda-security-airline a{
  text-decoration: none;
}

.garuda-container-page {
  background-color: #fff;
}

/*--------------------
STRUCTURE MEDIA QUERIES
--------------------*/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape)
{
  /*
  .garuda-wrapper
  {
    max-width: 480px!important;
  }

  .garuda-navigationElement .paragraph, .garuda-navigationElementLast .paragraph
  {
    margin-left: 15px!important;
    margin-top: 20px!important;
  }

  #garuda-content #footer
  {
    background-size: 480px;
    -webkit-background-size: 480px;
  }

  #garuda-connectNowButton
  {
    width: 368px;
    padding: 38px;
    font-size: 24px;
  }
  */
}

/* @media only screen and (min-device-width : 481px) and (min-width : 481px) */
/* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape)
{
  .garuda-commonPages
  {
    padding-top: 26px;
  }

  .garuda-wrapper
  {
    max-width: 480px!important;
  }

  #garuda-systemConectionStatus
  {
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  #garuda-garudaIndonesia
  {
    width: 192px;
    margin-right: 19px;
  }

  #garuda-timeToDestination
  {
    margin-left: 9px;
    margin-right: 9px;
    padding: 9px;
  }

  #garuda-garudaLogo
  {
    width: 207px;
    margin-left: 18px;
    margin-top: 14px;
    float: left;
  }

  #langStructure
  {
    margin-right: 19px;
  }

  #garuda-languages li
  {
    padding: 0px 8px 0px 8px;
  }

  #garuda-backButton, #garuda-backButton-ind
  {
    width: 58px;
    height: 26px!important;
    padding: 12px 21px 12px 21px!important;
  }

  #garuda-backButton a, #garuda-backButton-ind a
  {
    background-size: 58px 26px!important;
    -webkit-background-size: 58px 26px!important;
    -moz-background-size: 58px 26px!important;
    -o-background-size: 58px 26px!important;
    width: 58px!important;
    height: 26px!important;
  }

  #garuda-wirelessHead
  {
    padding: 10px 16px 10px 16px;
  }

  /*--------------------
  LANDING PAGE
  --------------------*/

  #garuda-landingPage
  {
    /* display: none; */
  }

  #garuda-connection
  {
    width: 480px;
    min-height: 144px;
    margin-bottom: 36px;
  }

  #garuda-connectNow
  {
    width: 214px;
    padding-top: 24.3px;
    padding-bottom: 29.3px;
    padding-left: 9px;
    padding-right: 0;
    height: 89px;
  }

  #garuda-GAWebsite
  {
    width: 214px;
    padding-top: 24.3px;
    padding-bottom: 29.3px;
    padding-left: 9px;
    padding-right: 0px;
    height: 89px;
  }

  .garuda-titleConnect
  {
    font-size: 19.92px;
    margin-left: 74px;
    margin-bottom: 5px;
    line-height: 89px;
  }

  .garuda-descriptionConnect
  {
    margin-left: 74px;
    font-size: 12px;
    line-height: 17px;
  }

  #garuda-wirelessIcon
  {
    width: 62px;
  }

  #garuda-GAIcon
  {
    width: 62px;
  }

  /*--------------------
  LANDING NAVIGATION
  --------------------*/

  #garuda-navigation
  {
    font-size: 20px;
  }

  .garuda-navigationElement
  {
    min-height: 70px;
  }

  .garuda-navigationElementLast
  {
    position: relative;
    min-height: 70px;
  }

  .garuda-navigationElement .paragraph, .garuda-navigationElementLast .paragraph
  {
    margin-left: 12px;
    margin-top: 27px;
    width: 255px;
  }

  .garuda-generalIcon
  {
    width: 57px;
    margin-left: 10px;
    margin-top: 7px;
    height: 59px;
  }

  .garuda-generalIcon a
  {
    display: block;
  }

  /*--------------------
  FOOTER
  --------------------*/

  #garuda-content #footer
  {
    background-size: 480px;
    -webkit-background-size: 480px;
    -moz-background-size: 480px;
    -o-background-size: 480px;
  }

  #garuda-linkList
  {
    padding-top: 16px;
    margin-bottom: 7px;
    margin-left: 0px;
  }

  #garuda-linkList li
  {
    margin-top: 15px;
    padding-left: 5px;
    margin-left: -5px;
  }

  /*--------------------
  INTERNET SERVICE
  --------------------*/

  .garuda-intTitle
  {
    margin-left: 14px;
    margin-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 452px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .garuda-intCommonText
  {
    margin-left: 14px;
    margin-right: 14px;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .garuda-subTitle
  {
    margin-left: 14px;
    margin-right: 14px;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .garuda-stepNumber
  {
    width: 24px;    
    height: 24px;
  }

  .garuda-stepNumber + p
  {
    margin-left: 35px;
  }

  #garuda-stepByStep ol
  {
    margin-left: 14px;
    margin-right: 14px;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
  }

  #garuda-stepByStep ol li
  {    
    padding-bottom: 10px;
  }

  #garuda-listStep1
  {
    margin-top: 7px;
  }

  #garuda-stepNumber2
  {
    margin-top: 2px;
  }

  /*--------------------
  PACKAGE
  --------------------*/

  #garuda-connectNowButton
  {
    width: 346px;
    padding: 38px;
    font-size: 24px;
    margin-top: 110px;
  }

  /*--------------------
  GFF
  --------------------*/

  .garuda-goToBackground
  {
    background-size: 21px 39px, 451px, 72px;
    -webkit-background-size: 21px 39px, 451px, 72px;
    -moz-background-size: 21px 39px, 451px, 72px;
    -o-background-size: 21px 39px, 451px, 72px;
    background-position: 61px 15px, center;
    width: 451px;
    min-height: 72px;
  }

  .garuda-goToTitle
  {
    padding-top: 19px;
    margin-left: 91px;
  }

  .garuda-goToSubtitle
  {
    width: 350px;
    padding-top: 8px;
    margin-left: 91px;
    font-size: 11px;
  }
}
/* *********************** */
@media only screen and (min-device-width : 481px) and (min-width : 481px)
{
  .garuda-commonPages
  {
    padding-top: 26px;
  }

  .garuda-wrapper
  {
    max-width: 480px!important;
  }

  #garuda-systemConectionStatus
  {
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  #garuda-garudaIndonesia
  {
    width: 192px;
    margin-right: 19px;
  }

  #garuda-timeToDestination
  {
    margin-left: 9px;
    margin-right: 9px;
    padding: 9px;
  }

  #garuda-garudaLogo
  {
    width: 207px;
    margin-left: 18px;
    margin-top: 14px;
    float: left;
  }

  #langStructure
  {
    margin-right: 19px;
  }

  #garuda-languages li
  {
    padding: 0px 8px 0px 8px;
  }

  #garuda-backButton, #garuda-backButton-ind
  {
    width: 58px;
    height: 26px!important;
    padding: 12px 21px 12px 21px!important;
  }

  #garuda-backButton a, #garuda-backButton-ind a
  {
    background-size: 58px 26px!important;
    -webkit-background-size: 58px 26px!important;
    -moz-background-size: 58px 26px!important;
    -o-background-size: 58px 26px!important;
    width: 58px!important;
    height: 26px!important;
  }

  #garuda-wirelessHead
  {
    padding: 10px 16px 10px 16px;
  }

  /*--------------------
  LANDING PAGE
  --------------------*/

  #garuda-landingPage
  {
    /* display: none; */
  }

  #garuda-connection
  {
    width: 480px;
    min-height: 144px;
    margin-bottom: 36px;
  }

  #garuda-connectNow
  {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 9px;
    padding-right: 0;
    height: 58px;
    width: 214px;
  }

  #garuda-GAWebsite
  {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 9px;
    padding-right: 0px;
    height: 58px;
    width: 214px;
  }

  .garuda-titleConnect
  {
    font-size: 19.92px;
    line-height: 1em;
    width:114px;
  }

  .garuda-descriptionConnect
  {
    margin-left: 74px;
    font-size: 12px;
    line-height: 17px;
  }

  #garuda-wirelessIcon
  {
    width: 62px;
  }

  #garuda-GAIcon
  {
    width: 62px;
  }

  /*--------------------
  LANDING NAVIGATION
  --------------------*/

  #garuda-navigation
  {
    font-size: 20px;
  }

  .garuda-navigationElement
  {
    min-height: 70px;
  }

  .garuda-navigationElementLast
  {
    position: relative;
    min-height: 70px;
  }

  .garuda-navigationElement .paragraph, .garuda-navigationElementLast .paragraph
  {
    margin-left: 12px;
    margin-top: 27px;
    width: 255px;
  }

  .garuda-generalIcon
  {
    width: 57px;
    margin-left: 10px;
    margin-top: 7px;
    height: 59px;
  }

  .garuda-generalIcon a
  {
    display: block;
  }

  /*--------------------
  FOOTER
  --------------------*/

  #garuda-content #footer
  {
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
  }

  #garuda-linkList
  {
    padding-top: 5px;
    margin-bottom: 7px;
    margin-left: 0px;
  }

  #garuda-linkList li
  {
    margin-top: 15px;
    padding-left: 5px;
    margin-left: -5px;
  }

  /*--------------------
  INTERNET SERVICE
  --------------------*/

  .garuda-intTitle
  {
    margin-left: 14px;
    margin-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 452px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .garuda-intCommonText
  {
    margin-left: 14px;
    margin-right: 14px;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .garuda-subTitle
  {
    margin-left: 14px;
    margin-right: 14px;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .garuda-stepNumber
  {
    width: 24px;    
    height: 24px;
  }

  .garuda-stepNumber + p
  {
    margin-left: 35px;
  }

  #garuda-stepByStep ol
  {
    margin-left: 14px;
    margin-right: 14px;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
  }

  #garuda-stepByStep ol li
  {    
    padding-bottom: 10px;
  }

  #garuda-listStep1
  {
    margin-top: 7px;
  }

  #garuda-stepNumber2
  {
    margin-top: 2px;
  }

  /*--------------------
  PACKAGE
  --------------------*/

  #garuda-connectNowButton
  {
    width: 346px;
    padding: 38px;
    font-size: 24px;
    margin-top: 110px;
  }

  /*--------------------
  GFF
  --------------------*/

  .garuda-goToBackground
  {
    width: 451px;
    min-height: 72px;
  }

  .garuda-goToTitle
  {
    padding-top: 19px;
  }

  .garuda-goToSubtitle
  {
    padding-top: 8px;
    font-size: 11px;
  }
}

/*--------------------
GRID
--------------------*/

/*--------------------
FIXED LAYOUT
--------------------*/

/*--------------------
FIXED LAYOUT MEDIA QUERIES
--------------------*/

/*--------------------
HEADER
--------------------*/

#garuda-content #header
{
  font-family: Verdana;
  color: #231f20;
}

.garuda-commonPages:not(#garuda-landingPage)
{
  font-family: Verdana;
  letter-spacing: -0.5px;
}

.garuda-commonPages
{
  padding-top: 20px;
  padding-bottom: 26px;
  line-height: 12px;
}

.garuda-wrapper
{
  max-width: 320px;
}

#garuda-topHead
{
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

#garuda-systemConectionStatus
{
  text-align: center;
  background: url('../img/mobile/hp_yellow_background.png') repeat-x top;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#garuda-headBottom
{
  padding-top: 4px;
}

#garuda-garudaIndonesia
{
  width: 128px;
  margin:40px 0px 0px 11px;
  float: right;

}

#garuda-timeToDestination
{
  background: url('../img/mobile/hp_yellow_background.png') repeat-x top;
  font-size: 13px;
  margin-left: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 7px;
  width: 144px;
  text-align: center;
}

#garuda-garudaLogo
{
  width: 139px;
  margin-left: 12px;
  margin-top: 12px;
}

#langStructure
{
  float: right;
  margin-bottom: 0px;
  margin-top: -18px;
  margin-right: 10px;
}

#garuda-languages
{
  color: #009198;
  position: relative;
  margin-top: -20px;
}

#garuda-languages li:first-child
{
  border: none;
}

#garuda-languages li
{
  border-left: 1px solid #6D6F71;
  padding: 0px 4px 0px 4px;
  margin: 12px 0px 12px 0px;
  font-weight: bold;
  letter-spacing: -0.5px;
}


/*--------------------
TOOLKIT NAVIGATION
--------------------*/

/*--------------------
----------------------
CONTROL CLUSTERS
----------------------
--------------------*/


/*--------------------
BORDER RADIUS CONTROL
--------------------*/

/*--------------------
BOX SHADOW CONTROL
--------------------*/


/*--------------------
GRADIENT CONTROL
--------------------*/