/*--------------------
TABLE OF CONTENTS
----------------------
RESETS
 UNIVERSAL
 COLOURS
 FONTS


ELEMENTS
 HEADERS
 LINKS
  GENERIC LINK
  BUTTON LINKS
 IMAGES


COMPONENTS
 CAPTION
 DEVICE VISIBILITY TOGGLERS


LAYOUT
 STRUCTURE
  STRUCTURE MEDIA QUERIES
 GRID
 FIXED LAYOUT
  FIXED LAYOUT MEDIA QUERIES
 HEADER


CONTROL CLUSTERS
 BORDER RADIUS CONTROL
 BOX SHADOW CONTROL
 GRADIENT CONTROL
--------------------*/


/*--------------------
----------------------
RESETS
----------------------
--------------------*/
html {
  height: 100%;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

/*--------------------
UNIVERSAL
--------------------*/
.center-image img{
  margin: 0 auto;
}

/*--------------------
COLOURS
--------------------*/


/*--------------------
FONTS
--------------------*/
body,
input,
select,
textarea
{
  font-family:Helvetica, Arial, sans-serif;
}

#itk-wrapper
{
  /*16px*/
  font-size:16px;
}

.garuda-font12
{
  font-size: 12px;
}

.garuda-blue-color
{
  color: #27aae1;
}

/*--------------------
----------------------
ELEMENTS
----------------------
--------------------*/


/*--------------------
HEADERS
--------------------*/

.itk-grid {
  float: left;
}

h1#garuda-logo-inflight{
  width: 118px;
  float: left;
  position: relative;
  top: 20px;
}


#garuda-logo-inflight .current {
  cursor: default;
}

h1#garuda-logo-company{
  float: right;
  width: 115px;
  margin-top: 10px;
}

.logo-container {
    overflow: hidden;
    width:100%;
    margin-top: -55px;
    float:left;
}


#garuda-content-wrapper h2#garuda-welcome{
  font-size: 22px;
  color: #27aae1;
  border-bottom: 2px solid #27aae1;
  margin-bottom: 24px;
  line-height: 1em;
}

.garuda-news .garuda-article h2{
  font-weight: normal;
  line-height: 1em;
  padding-left: 15px;
  margin-bottom: 10px;
}

.garuda-news .garuda-article h2 a{
  font-size: 14px;
  color: #27aae1;
  text-decoration: none;
}

.garuda-paragraph-small h3{
  color: #27aae1;
  font-size: 1.1em;
  font-weight: normal;
}

.garuda-block-info-is h3{
  color: #27aae1;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: normal;
}

/*--------------------
LINKS
--------------------*/

.garuda-nav#garuda-menu-top ul li a{
  text-decoration: none;
  color: #636363;
  position: relative;
}

#garuda-menu-bottom li a{
  color: #FFF;
  text-decoration: none;
  display: block;
}

#garuda-slide .garuda-title-slide ul li a{
  display: block;
  margin-left: 6px;
  width: 10px;
  height: 10px;
  background: #29aae2;
  text-indent: -9999px;
  overflow: hidden;
}

.garuda-footer ul li a{
  color: #FFF;
  text-decoration: none;
  margin-left: 30px;
}


/*--------------------
GENERIC LINK
--------------------*/


/*--------------------
BUTTON LINKS
--------------------*/


/*--------------------
IMAGES
--------------------*/
img{
  max-width: 100%;
  height: auto;
}

#garuda-welcome-img{
  margin: 0;
}

.garuda-slide-show .garuda-title-slide img{
  float: left;
  margin-top: 3px;
  margin-left: 5px;
}


/*--------------------
FORMS
--------------------*/


/*--------------------
----------------------
COMPONENTS
----------------------
--------------------*/

/*--------------------
LOADER
--------------------*/
.data-load{
  background: #fff url(../img/interface/preloaders/img-preloader.gif) center center no-repeat;
  border-radius: 15px;
  margin-bottom:15px;
  min-height: 50px;
}

/*--------------------
CAPTION
--------------------*/


/*--------------------
DEVICE VISIBILITY TOGGLERS
--------------------*/


body.hide-until-app-initialised {
  background: #fff url(../img/interface/preloaders/img-preloader.gif) center center no-repeat;
  height:100%;
  width:100%;
}

body.hide-until-app-initialised #garuda-wrapper {
  display: none;
}


/*--------------------
----------------------
LAYOUT
----------------------
--------------------*/


/*--------------------
STRUCTURE
--------------------*/
#garuda-content-wrapper{
  padding-top: 45px;
  width: 477px;
  margin: 0 auto;
  padding-bottom: 45px;
}

#garuda-wrapper-menu-top {
  margin-right: 10px;
  float: right;
}


.garuda-wrapper-info-index{
  padding: 3.090909090909091%;
  background: #FFF;
  position: relative;
}

.garuda-wrapper-info-index #garuda-now_connect{
  width: 150px;
  top: -30px;
  margin-right: 25px;
  float: left;
  position: relative;
  z-index: 1;
}

.garuda-wrapper-info{
  padding: 10px;
  background: #FFF;
  position: relative;
  -webkit-border-radius: 1em 1em 0 0;
  -moz-border-radius: 1em 0;
  -o-border-radius: 1em 0;
  border-radius: 1em 1em 0 0;
}

.garuda-wrapper-info p{
  font-size: 12px;
}

/* Home Slideshow */

.garuda-slider {
  position: relative;
}

.garuda-slide-show,
.garuda-slider,
.garuda-slide,
.garuda-slide-feature {
  width: 272px;
  height: 197px;
  margin-bottom: 58px;
  z-index: 1;
  cursor: pointer;
}

.garuda-slider { overflow: hidden; }

.garuda-slide-show .swiper-wrapper { height: 197px; }

.garuda-slide-show, .garuda-slide { float: left; }

.garuda-slide-show a{
  font-weight: bold;
  font-size: 16px;
  color: #464647;
}

.garuda-title-slide small{
  color: #27aae1;
  font-style: italic;
  font-size: 10px;
  display: block;
}

.garuda-slide-arrow
{
  position: absolute;
  width: 17px
}

#garuda-left-arrow
{
  opacity: 0.7;
  top: 84px;
  left: 9px;
  z-index: 1;
}

#garuda-right-arrow
{
  opacity: 0.7;
  top: 84px;
  right: 9px;
  z-index: 1;
}

.garuda-slide-show .garuda-title-slide{
  position: relative;
  background: url("../img/desktop/slider_px.png");
  height: 60px;
}


/* Slider next button */
.garuda-slide-next-btn {
  width: 25px;
  height: 45px;
  margin: 5px;
  display: block;
  float: left;    
  overflow: hidden;
  text-indent: -9999px;
  background-image: url("../../project_media/img/desktop/arrow_big.png");
}

div.itk-caption .itk-caption-overlay {
  background: url("../img/desktop/slider_px.png");
}

.garuda-slide-caption, div.garuda-slide-show .garuda-title-slide {
  height: 55px;
}

.garuda-slide-caption { margin-top: -1em; }

.garuda-slide-feature {
  display: block;
  overflow: hidden;
}

.garuda-slider-navigation-indicators { 
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}

.garuda-slider-pagination {
  display: inline-block;
  margin-left: 6px;
  width: 10px;
  height: 10px;
  background: #29aae2;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
}

.garuda-news{
  position: relative;
}

.garuda-news .garuda-article{
  margin-bottom: 44px;
}
.garuda-news .garuda-article img{
  float: left;
  width: 149px;
}

.garuda-news .garuda-article div{
  margin-left: 10px;
  float: left;
  width: 281px;
  /* background: url("../img/desktop/arrow_small.png") no-repeat 0 0; */
}

.garuda-news .garuda-article div p{
  margin-top: 0;
  padding-left: 20px;
  font-size: 12px;
}

.garuda-footer{
  position: relative;
  background: url("../img/desktop/img_footer.png") no-repeat;
  height: 45px;
  border-radius: 0 0 1em 1em;
  -webkit-border-radius: 0 0 1em 1em;
  -moz-border-radius: 0 0 1em 1em;
  -o-border-radius: 0 0 1em 1em;
  background-size: 100% 100%;
}

.garuda-footer ul{
  line-height: 2.5em;
  z-index: 11;
  position: relative;
}

.garuda-footer ul li{
  font-size: 12px;
}

.garuda-footer small{
  float: right;
  margin-top: 10px;
  margin-right: 30px;
  color: #464647;
  position: relative;
  z-index: 10;
}

/**************************
Internet Service section styles
**************************/
.garuda-subheading-second-level{
  font-size: 14px;
  color: #27AAE1;
  margin-bottom: 14px;
}

.garuda-connected-now{
  float: right;
  width: 120px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.garuda-connected-now small{
  font-size: 2.063125em;
  color: #FFF;
  border-right: 2px solid #garuda-FFF;
  padding: 4.942965779467681%;
}

.garuda-block-info-is{
  width: 100%;
  float: left;
  margin-top: 20px;
}

.garuda-block-info-is ol{
  margin: 0;
  padding: 0;
}

.garuda-block-info-is li {
  margin-left: 26px;
  font-size: 11px;
  margin-bottom: 10px;
  color: #464647;
}

.garuda-block-info-is ul li{
  float: left;
  width: 99px;
}

.garuda-block-info-is ol li{
  margin-bottom: 20px;
  background: url("../img/desktop/number_2_min.png") center left no-repeat;
  list-style-type: none;
  padding: 11px 0 10px 11px;
  margin-left: 10px;
  padding-left: 35px;

}

.garuda-block-info-is ol li:first-child{
  background: url("../img/desktop/number_1_min.png") center left no-repeat;
}

.garuda-block-info-is ol li#garuda-number-three{
  background: url("../img/desktop/number_3_min.png") center left no-repeat;
}

.garuda-advertise{
  width: 145px;
  float: right;
}

.garuda-advertise div{
  height: 145px;
  border: 1px solid #CCC;
  margin-bottom: 20px;
  text-align: right;
  font-size: 10px;
}

.garuda-caption-second-level{
  position: relative;
}

.garuda-caption-second-level div{
  position: absolute;
  bottom: 0;
  width: 447px;
  height: 30px;
  padding: 5px;
  background: url("../img/desktop/slider_px.png");
}

.garuda-caption-second-level div a{
  display: block;
  margin: 0;
  font-weight: bold;
  font-size: 13px;
  color: #464647;
}

.garuda-caption-second-level div small{
  color: #27AAE1;
  font-style: italic;
  font-size: 10px;
  display: block;
}

#garuda-contact-space{
  padding: 250px 0;
  text-align: center;
}


/**********************
Packages
************************/
.garuda-block-info-is dl {
  margin-bottom: 20px;
  font-size: 12px; 
}


.garuda-block-info-is dl dt{
  color: #27aae1;
  display: list-item;
  list-style: disc;
  list-style-position: inside;
  margin-bottom: 12px;
}

.garuda-block-info-is dl dd{
  margin-left: 15px;
  margin-bottom: 20px;
}

.garuda-packages{
  position: relative;
  z-index: 1;
}

.garuda-img-fix-position{
  position: relative;
}

#garuda-get-connected {
  position: absolute;
  z-index: 2;
  float: right;
  left: 67.8%;
  top: 0%;
  width: 32.80788177339901%
}


/******************************
Shop section
*******************************/
.garuda-paragraph-small {
  width: 100%;
  float: left;
}

.garuda-paragraph-small h3{
  color: #27aae1;
  font-size: 1.1em;
  font-weight: normal;
}

.garuda-paragraph-small p{
  margin-bottom: 20px;
  color: black;
}

.garuda-paragraph-small p small{
  font-style: italic;
  display: block;
}

.garuda-paragraph-small a
{
  text-decoration: none;
}


/***********************
Third level
***********************/
.garuda-subheading-third-level{
  font-size: 18px;
  color: #27AAE1;
  float: left;
  font-weight: normal;
  margin-top: 3px;
}

.garuda-wrapper-third-level{
  float: left;
  width: 100%;
  border-top: 2px solid #27AAE1;
  padding-top: 20px;
}

/**********************
Error 
**********************/
.garuda-wrapper-error{
  text-align: center;
  padding: 200px 0 500px 0;
  color: #464647;
}

.garuda-wrapper-error p{
  font-size: 1.5em;
  margin: 0;
  color: #636363;
}


/*--------------------
HEADER
--------------------*/
#garuda-header-wrapper{
  width: 477px;
  margin: 0 auto;
  padding-top: 10px;
}

.garuda-nav#garuda-menu-top ul li{
  margin: 0;
  padding-right: 0;
}

.garuda-nav#garuda-menu-top ul li a{
  font-size: 12px;
  /*margin-left: 1.272727272727273%;*/
  margin-top: -5px;
  padding: 3px 0 3px 20px;
  margin-right: 10px;
}

.garuda-nav#garuda-menu-top ul li a#garuda-home{
  background-image: url("../img/desktop/icon_home_min.png");
  background-repeat: no-repeat;
}

.garuda-nav#garuda-menu-top ul li a#garuda-contact{
  background-image: url("../img/desktop/icon_contact_min.png");
  background-repeat: no-repeat;
  padding-left: 17px;
}

.garuda-nav#garuda-menu-top ul li a#garuda-faq{
  background-image: url("../img/desktop/icon_faq_min.png");
  background-repeat: no-repeat;
}

#garuda-language{
  list-style: none;
  font-size: 12px;
}

.garuda-languaje-active:hover
{
  text-decoration: underline!important;
}

#garuda-language li{
  border-left: 1px solid #6d6f71;
  padding: 0 5px;
  margin: 0;
  position: relative;
  top: 5px;
}

#garuda-language li:first-child{
  border: none;
  margin-left: 10px;
}

#garuda-language a{
  text-decoration: none;
  color: #009198;
}

#garuda-menu-bottom {
  width: 100%;
  height: 46px;
  background: url("../img/desktop/menu_px.png") 0 -17px;
}

#garuda-menu-bottom ul{
}

#garuda-menu-bottom ul li {
  background: url("../img/desktop/menu_px.png") 0 -17px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  width: 118px;
  border-left: 1px solid #7F9ED1;
  padding: 13px 0;
  margin-left: -4px;
}

#garuda-menu-bottom ul li:hover{
  background: url("../img/desktop/menu_px.png") 0 60px;
}

#garuda-menu-bottom ul li:first-child{
  border: none;
}

#garuda-infoText
{
  width: 100%;
}

#garuda-infoText dt
{
  display: block;
}

#garuda-infoText dd
{
  margin-left: 0px!important;
  margin-bottom: 30px;
}

#garuda-infoText ol li
{
  list-style-type: decimal;
  background: none;
  margin-left: 20px;
  padding-left: 5px;
  margin-bottom: 0px;
  padding-bottom: 2px;
  padding-top: 2px;
}

/*--------------------
SITE MAP
--------------------*/

.garuda-sitemap-root
{
  padding-bottom: 20px;
}

.garuda-sitemap-root a
{
  text-decoration: none;
}

.garuda-root-text
{
  float: none!important;
  font-size: 20px!important;
}

.garuda-sitemap-child
{
  width: 275px;
  margin-left: 50px;
}

.garuda-sitemap-child img
{
  width: 35%;
  position: absolute;
}

.garuda-sitemap-child p
{
  position: relative;
  color: white;
  text-align: center;
  padding: 45px 0px 0px 0px;
  margin-bottom: 0px!important;
  width: 59%;
  margin-left: 33px;
}

#garuda-home-text
{
  margin-left: 21px;
}

/*--------------------
SECURITY PAGE
--------------------*/

.garuda-container-page {
  background: #fff;
}

.garuda-terms-and-conditions-header {
  text-transform: uppercase;
  font-size: 12px;
  margin: 1.5em 0 .7em;
}

#garuda-security-general
{
  max-width: 992px;
  margin: 0 auto;
}

.garuda-security-header{
  height: auto;
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid gray;
}

#garuda-security-icon-lock{
  line-height: 0;
  float: left;
  margin-right: 15px;
  margin-left: 10px;
}

.garuda-security-header span{
  display: inline-block;
  vertical-align: middle;
  color: gray;
}

#garuda-security-content{
  height: auto;
  overflow: hidden;
  padding: 15px 0;
  border-bottom: 1px solid gray;
  color: black;
}

.garuda-security-content-item{
  float: left;
}

#garuda-security-content-item1{
  width: 47%;
  margin-left: 3%;
}

#garuda-security-item1-txt{
  font-size: 14px;
  font-weight: bold;
}

#garuda-security-content-item2{
  margin-left: 9%;
  width: 40%;
}

.garuda-security-captcha-item{
  width: 50%;
  float: left;
}

#garuda-security-captcha{
  height: 70px;
  overflow: hidden;
  padding: 35px 0;
}

#garuda-security-captcha-img{
  background: #F6F6F6;
  text-align: center;
  padding: 0;
  color: #3198FD;
}

#garuda-security-captcha-txt{
  position: relative;
  height: 100%;
}

#garuda-security-cant{
  font-size: 10px;
  width: 92%;
  min-width: 175px;
  margin-left: 10%;
}

#garuda-security-refresh {
  width: 92%;
  margin-left: 10%;
  float: left;
  width: 120px;
  margin-top: 56px;
}

#garuda-security-refresh,
#garuda-security-refresh-icon {
  float: left;
}

#garuda-security-refresh-icon {
  width: 36px;
  margin-top: 50px;
}

.garuda-security-button {
  padding: 3px 5px 4px;
  font-weight: bold;
}
#garuda-security-refresh-icon img{
  margin-bottom: 0;
  width: 100%;
}

#garuda-security-enter-code{
  font-size: 11px;
  font-weight: bold;
}

#garuda-security-enter-code p{
  margin: 10px 0;
}

#garuda-security-questions{
  border: 1px solid gray;
  width: 90%;
  padding: 5px 5px 20px 5px;
}

.garuda-security-questions-header {
  width: 95%;
  margin: 0 auto;
  font-size: 20px;
}

#garuda-security-questions div, #garuda-security-questions p{
  width: 95%;
  margin: 0 auto;
}

#garuda-security-why{
  font-size: 11px;
}

#garuda-security-questions div{
  border-bottom: 1px solid gray;
  padding: 5px 0;
}

#garuda-security-why span{
  display: block;
  font-weight: bold;
  margin: 6px 0 4px;
}

#garuda-security-content-item2 p.garuda-font12{
  padding: 10px 0;
  font-weight: bold;
  word-wrap:break-word;
  width: 90%;
}

#garuda-security-airline{
  color: blue;
  font-size: 12px;
  padding: 10px 0;
  width: 12%;
  text-align: center;
  margin: 10px;
}

#garuda-security-airline a{
  text-decoration: none;
}

/*--------------------
GRID
--------------------*/


/*--------------------
FIXED LAYOUT
--------------------*/


/*--------------------
FIXED LAYOUT MEDIA QUERIES
--------------------*/


/*--------------------
TOOLKIT NAVIGATION
--------------------*/



/*--------------------
----------------------
CONTROL CLUSTERS
----------------------
--------------------*/


/*--------------------
BORDER RADIUS CONTROL
--------------------*/


/*--------------------
BOX SHADOW CONTROL
--------------------*/


/*--------------------
GRADIENT CONTROL
--------------------*/


#garuda-status-connection{
  margin: 7px 0;
}

#garuda-status-connection li{
  background: #fff799;
  font-size: 12px;
  padding: 5.5px 0;
  width: 160px;
}

#garuda-status-connection li:first-child{
  width: 372px;
  margin-right: 10px;
}

.garuda-main-wrapper-fixed{
  background: #e7e8e9;
  margin: 0!important;
}

.garuda-main-wrapper{
  width: 477px;
  margin: 0 auto;
}

/*--------------------
STRUCTURE MEDIA QUERIES
--------------------*/
@media only screen and (min-width: 992px){
  /* Laptops style */
  body{}

  .garuda-footer ul li{
    font-size: 16px;
  }
  h1#garuda-logo-inflight{
    width: 195px;
    top: 10px;
  }

  h1#garuda-logo-company{
    width: 156px;
    margin-top:0px;
  }

  .logo-container {

    margin-top: -80px;
  }

  #garuda-content-wrapper h2#garuda-welcome{
    font-size: 22px;
    margin-bottom: 24px;
  }

  .garuda-news .garuda-article h2{
    line-height: 1em;
    padding-left: 15px;
    margin-bottom: 10px;
  }

  .garuda-news .garuda-article h2 a{
    font-size: 22px;
  }

  .garuda-paragraph-small h3{
    font-size: 1.1em;
  }

  .garuda-block-info-is h3{
    font-size: 1.1em;
    margin-bottom: 10px;
  }

  .garuda-nav#garuda-menu-top ul li a{
    text-decoration: none;
  }

  .garuda-footer ul li a{
    color: #FFF;
    text-decoration: none;
    margin-left: 30px;
  }

  img{
    max-width: 100%;
    height: auto;
  }

  #garuda-welcome-img{
    margin: 0;
  }

  #garuda-content-wrapper{
    padding-top: 45px;
    width: 786px;
    padding-bottom: 45px;
  }

  .garuda-wrapper-info-index{
    padding: 10px 10px 10px 30px;
  }

  .garuda-wrapper-info-index #garuda-now_connect{
    width: 242px;
    top: -33px;
    margin-right: 45px;
  }

  .garuda-slide-arrow
  {
    width: 24px;
  }

  #garuda-left-arrow
  {
    top: 155px;
  }
  /* Homepage - Slideshow */


  .garuda-slide-show,
  .garuda-slider,
  .garuda-slide,
  .garuda-slide-feature {
    width: 448px;
    height: 355px;
    margin-bottom: 48px;
    margin-top: 4px;
  }

  #garuda-right-arrow
  {
    top: 155px;
  }


  .garuda-slide-show .swiper-wrapper { height: 355px; }

  .garuda-slide-show a { font-size: 22px; }

  .garuda-slide-next-btn {
    width: 25px;
    height: 45px;
    margin: 5px;
  }

  .garuda-slide-show .garuda-title-slide small{
    font-size: 12px;
  }


  .garuda-slider-navigation-indicators { 
    bottom: 12px;
  }

  .garuda-news .garuda-article{
    margin-bottom: 44px;
  }
  .garuda-news .garuda-article img{
    width: 241px;
  }

  .garuda-news .garuda-article div{
    margin-left: 10px;
    width: 491px;
  }

  .garuda-news .garuda-article div p{
    margin-top: 0;
    padding-left: 20px;
    font-size: 16px;
  }

  .garuda-footer{
    height: 61px;
  }

  .garuda-footer ul{
    line-height: 3.5em;
    z-index: 11;
    position: relative;
  }

  .garuda-footer small{
    margin-top: 10px;
    margin-right: 30px;

  }

  /*second level*/

  .garuda-wrapper-info {
    padding: 20px;
  }

  .garuda-subheading-second-level {
    font-size: 26px;
  }
  
  .garuda-wrapper-info h2 {
		font-weight:normal;
  }

  .garuda-wrapper-info p, .garuda-block-info-is dl  {
    font-size: 16px;
  }

  .garuda-advertise{
    width: 240px;
  }

  .garuda-advertise div {
    height: 160px;
  }

  /**************************
  Internet Service section styles
  **************************/

  .garuda-connected-now {
    width: 194px;
    right: 20px;
    top: 20px;
  }

  .garuda-block-info-is{
    width: 100%;
  }

  .garuda-block-info-is ol{
    margin: 0;
    padding: 0;
  }

  .garuda-block-info-is li{
    /**margin-left: 17.13091922005571%;**/
    font-size: 1em;
    margin-bottom: 10px;
    color: #464647;
  }

  .garuda-block-info-is ul li{
    float: left;
    width: 160px;
  }

  .garuda-block-info-is ol li{
    background: url("../img/desktop/number_2.png") center left no-repeat;

    padding-left: 50px;
  }

  .garuda-block-info-is ol li:first-child{
    background: url("../img/desktop/number_1.png") center left no-repeat;
  }

  .garuda-block-info-is ol li#garuda-number-three{
    background: url("../img/desktop/number_3.png") center left no-repeat;
  }


  /******************************
  Shop section
  *******************************/
  .garuda-paragraph-small{
    width: 100%;
  }

  .garuda-paragraph-small h3{
    color: #27aae1;
    font-size: 1.1em;
    font-weight: normal;
  }

  .garuda-paragraph-small p{
    margin-bottom: 20px;
    color: block;
  }

  .garuda-paragraph-small p small{
    font-style: italic;
    display: block;
  }


  /***********************
  Third level
  ***********************/
  .garuda-subheading-third-level{
    font-size: 22px;
    color: #27AAE1;
    float: left;
    font-weight: normal;
    margin-top: 10px;
  }

  /**********************
  Error 
  **********************/
  .garuda-wrapper-error{
    text-align: center;
    padding: 200px 0 500px 0;
    color: #464647;
  }

  .garuda-wrapper-error p{
    font-size: 1.5em;
    margin: 0;
    color: #636363;
  }


  /*--------------------
  HEADER
  --------------------*/
  #garuda-header-wrapper{
    width: 786px;
    padding: 12px 0;
  }

  #garuda-wrapper-menu-top{

    float: right;
    margin-right: 70px;
  }

  .garuda-nav#garuda-menu-top ul li{
    margin: 0;
  }

  .garuda-nav#garuda-menu-top ul li a{
    font-size: 12px;
    margin-top: -5px;
    padding: 5px 0 9px 28px;

    position: relative;
  }

  .garuda-nav#garuda-menu-top ul li a#garuda-home{
    background: url("../img/desktop/icon_home.png") no-repeat;
  }

  .garuda-nav#garuda-menu-top ul li a#garuda-contact{
    background: url("../img/desktop/icon_contact.png") no-repeat;
  }

  .garuda-nav#garuda-menu-top ul li a#garuda-faq{
    background: url("../img/desktop/icon_faq.png") no-repeat;
  }

  #garuda-language li{
    border-left: 1px solid #6d6f71;
    padding: 0 5px;
    margin: 0;
    position: relative;
    top: 5px;
  }

  #garuda-language li:first-child{
    margin-left: 25px;
  }

  #garuda-menu-bottom {
    height: 46px;
  }

  #garuda-menu-bottom ul li {
    height: 26px;
    font-size: 19px;
    width: 195px;
    padding: 10px 0;
  }

  #garuda-status-connection li:first-child{
    width: 620px;
  }

  .garuda-main-wrapper{
    width: 992px;
  }

  .garuda-caption-second-level div{
    height: 40px;
    padding: 10px;
    width: 727px;
  }

  .garuda-caption-second-level div a{
    font-size: 16px;
  }

  .garuda-caption-second-level div small{
    font-size: 12px;
  }

  .garuda-sitemap-child p
  {
    padding: 75px 0px 0px 0px;
    margin-left: 107px;
  }
}

@media only screen and (min-width: 768px)and (max-width: 991px){
  /* Tablet portrait style */
  #garuda-status-connection{
    margin: 7px auto;
    padding: 0;
  }

  #garuda-status-connection li{
    font-size: 11px;
    padding: 5.5px 0;
    width: 165px;
  }

  #garuda-status-connection li:first-child{
    width: 435px!important;
    margin-right: 10px;
  }

  .garuda-main-wrapper {
    width: 610px!important;
  }

  #garuda-header-wrapper{
    width: 610px;
    padding: 12px 0 0 0;
  }

  #garuda-wrapper-menu-top {
    margin-right: 50px;
    float: right;
  }

  h1#garuda-logo-inflight{
    width: 122px;
  }

  h1#garuda-logo-company {
    width: 115px;
    margin: 0;
  }

  #garuda-menu-bottom {
    height: 36px;
  }

  #garuda-menu-bottom ul li {
    font-size: 16px;
    width: 150px;
    padding: 8px 0;
  }

  /*Content index*/
  #garuda-content-wrapper{
    width: 610px;
  }

  .garuda-wrapper-info-index #garuda-now_connect {
    width: 188px;
    top: -40px;
  }

  .garuda-slide-arrow
  {
    width: 20px;
  }

  /* Homepage Slideshow */

  .garuda-slide-show,
  .garuda-slider,
  .garuda-slide,
  .garuda-slide-feature {
    width: 347px;
    height: 251px;
    margin-bottom: 61px;
  }

  #garuda-left-arrow
  {
    top: 109px;
  }

  #garuda-right-arrow
  {
    top: 109px;
  }


  .garuda-slide-show .swiper-wrapper { height: 251px; }


  .garuda-slide-show a { font-size: 22px; }


  .garuda-slide-show .garuda-title-slide a{
    font-size: 16px;
  }

  .garuda-slide-show .garuda-title-slide small{
    font-size: 10px;
  }

  /* News / Article */

  .garuda-news .garuda-article img {
    width: 188px;
  }

  .garuda-news .garuda-article div {
    width: 360px;
  }

  .garuda-news .garuda-article div h2 a{
    font-size: 17px;
  }

  .garuda-news .garuda-article div p{
    font-size: 13px;
  }


  /*footer*/
  .garuda-footer ul {
    line-height: 2.5em;
  }

  .garuda-footer {  
    height: 40px;
  }


  /*second level*/

  .garuda-wrapper-info {
    padding: 15px;
  }

  .garuda-subheading-second-level {
    font-size: 16px;
  }

  .garuda-wrapper-info p, .garuda-block-info-is dl  {
    font-size: 14px;
  }

  .garuda-advertise{
    width: 188px;
  }

  .garuda-advertise div {
    height: 125px;
  }

  .garuda-block-info-is {
    width: 100%;
  }

  .garuda-connected-now {
    width: 150px;
    right: 15px;
    top: 10px;
  }

  .garuda-paragraph-small {
    width: 100%;
  }

  .garuda-caption-second-level div{
    height: 36px;
    padding: 8px;
    width: 564px;
  }

  .garuda-caption-second-level div a{
    font-size: 16px;
  }

  .garuda-caption-second-level div small{
    font-size: 12px;
  }

  .garuda-block-info-is li{
    font-size: 14px;
    margin-left: 60px;
  }

  .garuda-block-info-is ul li {
    width: 115px;
  }

  .garuda-sitemap-child p
  {
    padding: 56px 0px 0px 0px;
    margin-left: 64px;
  }

}

@media only screen and (max-width: 767px){
  /* Laptops style */
}
