<div id="garuda-content-wrapper"><!-- Different content here -->
  <div class="garuda-wrapper-info itk-clearfix">
    <h2 class="garuda-subheading-third-level ds-text">Contact</h2>
    <div class="garuda-connected-now">
      <a class="ae-comp current"
         data-type="wispUrl"
         data-captcha-page="captcha"
         data-href="#captcha"
         href="https://hotspot.t-mobile.net/wlan/start.do?lang=en_GB"
         target="_blank">
        <img src="../project_media/portal_media/img/desktop/connect_now.png" />
      </a>
    </div>
    <div  id="garuda-contact-space" class="garuda-wrapper-third-level ds-text">To contact us concerning the internet service can be through TELKOM customer care at
        +62-21-3863000
    </div>
  </div>
  <div class="garuda-footer itk-navigation itk-clearfix">
    <ul class="itk-list-hor-centered itk-clearfix">
      <li><a href="#terms-and-conditions">Terms & conditions</a></li>
      <li><a href="#privacy-policy">Privacy Policy</a></li>
      <li><a href="#sitemap">Site Map</a></li>
    </ul>
    <small class="ds-text">2013 Garuda Indonesia Airlines. All rights reserved.</small>
  </div>
</div>
<!-- End main-wrapper -->