<div id="garuda-content-wrapper"><!-- Different content here -->
  <div class="garuda-wrapper-info itk-clearfix">
    <h2 class="garuda-subheading-second-level ds-text">Garuda Frequent Flyer</h2>
    <div class="garuda-connected-now">
      <a class="ae-comp current"
         data-type="wispUrl"
         data-captcha-page="captcha"
         data-href="#captcha"
         href="https://hotspot.t-mobile.net/wlan/start.do?lang=en_GB"
         target="_blank">
        <img src="../project_media/portal_media/img/desktop/connect_now.png" alt="connect now" />
      </a>
    </div>
    <div class="itk-caption-underlay-inner garuda-caption-second-level">
      <a class="ae-comp current"
         data-type="wispUrl"
         data-captcha-page="captcha"
         data-href="#captcha"
         href="https://hotspot.t-mobile.net/wlan/start.do?lang=en_GB"
         target="_blank">
        <img src="../project_media/portal_media/img/desktop/img_gff.jpg" alt="The Garuda Indonesia Frequent Flyer Program" />
      </a>
      <!--
      <div>
        <a class="itk-navigation">Go to The GA Website</a>
        <small class="ds-text">(Internet connection package purchase is necessary)</small>
      </div>
      -->
    </div>
    <div>
      <p class="ds-text"><i>Indulge the perks of being a GFF member, such as GFF Mileage, extra baggage, Executive Lounge access, best
        service assurance, and exciting promos exclusively tailored for GFF members.</i></p>
      <div class="garuda-paragraph-small">
        <p class="ds-text">With GFF, you get the optimal experience when flying with Garuda Indonesia and its airlines partner. GFF
          Mileage can be redeemed with Award Ticket for Garuda Indonesia
          flight and our partner’s flight or upgrade to executive-class. These
          awards can also be transferred to your family, colleagues or anyone
          close to your heart.</p>

        <p class="ds-text">GFF Mileage can be earned from flight activity with Garuda Indonesia
          and its airlines partner, on-board shopping or stay at the GFF partner
          hotels or redeem your reward point from our partner. And if you have
          a Garuda Indonesia Citi Card or Garuda Indonesia BNI Credit Card, you
          will earn GFF Mileage on every transaction.</p>

        <p class="ds-text">All of these GFF privileges can be yours to enjoy with ease. Be a GFF
          member by simply enroll online at <a class="ae-comp current btn btn-cta-primary ae-comp garuda-blue-color" target="_blank" data-type="JSEngine.CaptchaURL" data-captcha-page="captcha" href="http://gff.garuda-indonesia.com">gff.garuda-indonesia.com</a> or fill out
          the registration form available at all Garuda Indonesia Sales Office and
          in this aircraft.</p
        ><p class="ds-text">All of GFF benefits await you ...</p>
        <p class="ds-text"><small class="ds-text">Terms & conditions apply</small></p>
      </div>
    </div>
    
  </div>
  <div class="garuda-footer itk-navigation itk-clearfix">
    <ul class="itk-list-hor-centered itk-clearfix">
      <li><a href="#terms-and-conditions">Terms & conditions</a></li>
      <li><a href="#privacy-policy">Privacy Policy</a></li>
      <li><a href="#sitemap">Site Map</a></li>
    </ul>
    <small class="ds-text">2013 Garuda Indonesia Airlines. All rights reserved.</small>
  </div>
</div>