<!-- Add your site or application content here -->
<div id="garuda-content-wrapper">
  <h2 id="garuda-welcome" class="ds-text">Welcome On Board</h2>
  <img id="garuda-welcome-img" src="../project_media/portal_media/img/desktop/img_welcome.jpg" alt="Welcome On Board" />
  <div class="garuda-wrapper-info-index itk-clearfix">
    <div id="garuda-connected-slide" class="itk-clearfix">
      <div id="garuda-now_connect">
      <a class="ae-comp current"
         data-type="wispUrl"
         data-captcha-page="captcha"
         href="https://hotspot.t-mobile.net/wlan/start.do?lang=en_GB"
         data-href="#captcha"
         target="_blank">
          <img src="../project_media/portal_media/img/desktop/img_connected_2.png" alt="Get Connected Now" />
        </a>
      </div>

     <div id="garuda-slide-show"
          class="garuda-slide-show itk-clearfix pana-carousel-skin1 pana-carousel widget pana-hero-skin1"
          data-type="SwiperCarousel"
          data-loop="true"
          data-speed="1000"
          data-create-pagination="true"
          data-auto-play="5000"
          data-pagination=#garuda-slider-navigation-indicators
          data-pagination-class="garuda-slider-pagination"
          data-pagination-active-class="pana-carousel-pagination-active"
          data-swiper-container-selector="#garuda-slides"
          data-slide-class="garuda-slide"
          data-mouse-interupt="true"
          data-next-button="#garuda-right-arrow"
          data-previous-button="#garuda-left-arrow"
          style="overflow:hidden"
        >
        <div id="garuda-slides" class="pana-carousel-items garuda-home-carousel-items"
             data-name="home-carousel"
             data-url="portal_media_desktop/html/json/home-carousel.json"
             data-collection-type="GenericCollection"
             data-type="JSEngine.DynamicContainer"
             data-array-path="root"
             data-template="pana-home-carousel-template"
             data-always-fetch="false"
             data-loading-template="pana-generic-load-large"
             data-no-data-template="pana-generic-no-data"></div>
                 
        <div id="garuda-slider" class="garuda-slider" style="position:absolute;top:0">
         
          <div id="garuda-arrows">
            <!-- ARROWS START -->
            <a id="garuda-left-arrow" href="" class="garuda-slide-arrow"> <img src="../project_media/portal_media/img/desktop/left_arrow.png" alt="leftArrow" /> </a>
            <a id="garuda-right-arrow" href="" class="garuda-slide-arrow"> <img src="../project_media/portal_media/img/desktop/right_arrow.png" alt="rightArrow" /> </a>
            <!-- ARROWS START -->
          </div>
                 
          <script id="pana-home-carousel-template" type="text/template">
            <div class="garuda-slide">
				<a class="ae-comp current"
					data-type="wispUrl"
					data-captcha-page="captcha"
					href="<%= data.link %>"
					target="_blank">
					<div class="garuda-slide-feature">
					  <img src="<%= data.img %>" >
					</div>
				</a>
            </div>
          </script>
          <div id="garuda-slider-navigation-indicators" class="garuda-slider-navigation-indicators"></div>
        </div>
      </div>
      <div class="garuda-news itk-clearfix">
        <div class="garuda-article itk-clearfix">
          <img src="../project_media/portal_media/img/desktop/img_item1.jpg" alt="The Garuda Indonesia Frequent Flyer Program" />
          <div>
            <h2><a class="itk-navigation" href="#gff">Garuda Indonesia Frequent Flyer Program</a></h2>
            <p class="ds-text">
              There are many perks to indulge when you are a GFF member. Aside
              from gaining rewards in the form of GFF Mileage, extra baggage,
              access to Executive Lounge, GFF members also being prioritized to
              ensure the best service; and offered many exciting member-only
              promos.
            </p>
          </div>
        </div>
        <div class="garuda-article itk-clearfix">
          <img src="../project_media/portal_media/img/desktop/img_item2.jpg" alt="The Garuda Indonesia Frequent Flyer Program" />
          <div>

            <h2><a class="itk-navigation" href="#shop">Garuda Indonesia Shop on Board</a></h2>
            <p class="ds-text">
              Enjoy the convenience of shopping from up above the sky with our
              GA Shop on Board. Find something for yourself or your special ones
              from our wide range of quality products, from beauty, accessories,
              toys, electronics to travel essentials.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="garuda-footer itk-navigation itk-clearfix">
      <ul class="itk-list-hor-centered itk-clearfix">
        <li><a href="#terms-and-conditions">Terms &amp; conditions</a></li>
        <li><a href="#privacy-policy">Privacy Policy</a></li>
        <li><a href="#sitemap">Site Map</a></li>
      </ul>
      <small class="ds-text">2013 Garuda Indonesia Airlines. All rights reserved.</small>
    </div>
  </div>
