<div id="garuda-content-wrapper"><!-- Different content here -->
  <div class="garuda-wrapper-info itk-clearfix">
    <h2 class="garuda-subheading-second-level ds-text">About Garuda Inflight Connectivity</h2>
    <div class="garuda-connected-now">

<a class="ae-comp current"
	data-captcha-page="captcha"
	data-type="wispUrl"
  data-href="#captcha"
	href="https://hotspot.t-mobile.net/wlan/start.do?lang=en_GB"
	target="_blank">
		<img src="../project_media/portal_media/img/desktop/connect_now.png" alt="connect now" />
</a>

    </div>
    <img src="../project_media/portal_media/img/desktop/img_about.jpg" alt="About Garuda Inflight Connectivity" />
    <p class="ds-text">Enjoy the internet service at through our Garuda Inflight Connectivity facility. This facility enables you to stay
      connected to the world during this flight. You can check email, update status at any social media, and browse
      your favorite site from the sky! </p>
       
    <div class="garuda-block-info-is">
      <h3 class="ds-text">Staying in touch with</h3>
      <ul>
        <li class="ds-text">Social Network</li>
        <li class="ds-text">Instant Messaging</li>
        <li class="ds-text">News</li>
        <li class="ds-text">Travel Information</li>
        <li class="ds-text">Email</li>
        <li class="ds-text">Games</li>
        <li class="ds-text">Payment</li>
        <li class="ds-text">Music</li>
        <li class="ds-text">Banking</li>
        <li class="ds-text">Many more</li>
      </ul>
    </div>
    <div class="garuda-block-info-is">
      <h3 class="ds-text">Step by step to get Online!</h3>
      <ol>
        <li class="ds-text">Click on the connect button</li>
        <li class="ds-text">Purchase one of three packages that we have to get
          your username and password</li>
        <li id="garuda-number-three" class="ds-text">Put your username and password on the Internet Login,
          then click connect and you’re online!</li>
      </ol>
    </div>
  </div>
  <div class="garuda-footer itk-navigation itk-clearfix">
    <ul class="itk-list-hor-centered itk-clearfix">
      <li><a href="#terms-and-conditions">Terms &amp; conditions</a></li>
      <li><a href="#privacy-policy">Privacy Policy</a></li>
      <li><a href="#sitemap">Site Map</a></li>
    </ul>
    <small class="ds-text">2013 Garuda Indonesia Airlines. All rights reserved.</small>
  </div>
</div>