<div id="garuda-content-wrapper"><!-- Different content here -->
  <div class="garuda-wrapper-info itk-clearfix">
    <h2 class="garuda-subheading-second-level ds-text">In-Flight WiFi Access</h2>
    <div class="garuda-img-fix-position">
      <img class="garuda-packages" src="../project_media/portal_media/img/desktop/img_packages.jpg" alt="About Garuda Inflight Connectivity" />
            <a class="ae-comp current"
               data-type="wispUrl"
               data-captcha-page="captcha"
               data-href="#captcha"
               href="https://hotspot.t-mobile.net/wlan/start.do?lang=en_GB"
               target="_blank">
        <img id="garuda-get-connected" src="../project_media/portal_media/img/desktop/img_connected_2.png" alt="Get Connected Now" />
      </a>
    </div>
    <p class="ds-text">We are happy to offer you several options that suit your need. Just click ‘Get Connected Now!’ button to purchase then
      stay connected to the world. Sit back, relax, and enjoy the Garuda Indonesia Experience.</p>
    
    <div class="garuda-block-info-is">
      <dl>
        <dt class="ds-text">1 hour for 11.95 USD</dt>
        <dd class="ds-text">This package suit for those of you who travel on short distance.</dd>
        <dt class="ds-text">24 hours for 21.95 USD</dt>
        <dd class="ds-text">This package suit for those of you who travel on long distance or on connecting flight.
          This package will remain enable for your next flight.</dd>
      </dl>
    </div>
  </div>
  <div class="garuda-footer itk-navigation itk-clearfix">
    <ul class="itk-list-hor-centered itk-clearfix">
      <li><a href="#terms-and-conditions">Terms & conditions</a></li>
      <li><a href="#privacy-policy">Privacy Policy</a></li>
      <li><a href="#sitemap">Site Map</a></li>
    </ul>
    <small class="ds-text">2013 Garuda Indonesia Airlines. All rights reserved.</small>
  </div>
</div>