<div id="garuda-content-wrapper"><!-- Different content here -->
  <div class="garuda-wrapper-info itk-clearfix">
    <h2 class="garuda-subheading-second-level ds-text">Garuda Shop On Board</h2>
    <div class="garuda-connected-now">
            <a class="ae-comp current"
               data-type="wispUrl"
               data-captcha-page="captcha"
               data-href="#captcha"
               href="https://hotspot.t-mobile.net/wlan/start.do?lang=en_GB"
               target="_blank">
        <img src="../project_media/portal_media/img/desktop/connect_now.png" alt="connect now" />
      </a>
    </div>
    <div class="itk-caption-underlay-inner garuda-caption-second-level">
        <!--<a class="ae-comp current"
           data-type="wispUrl"
           data-captcha-page="captcha"
           data-href="#captcha"
           href="https://hotspot.t-mobile.net/wlan/start.do?lang=en_GB"
           target="_blank">-->
        <img src="../project_media/portal_media/img/desktop/img_shop.jpg" alt="About Garuda Inflight Connectivity" />
      <!--</a>
      
      <div>
        <a class="itk-navigation">Go to The GA Website</a>
        <small class="ds-text">(Internet connection package purchase is necessary)</small>
      </div>
      -->
    </div>
    <div>
      <p class="ds-text"><i>Enjoy the convenience  of shopping from up above the sky with our Garuda Shop on Board. Find something for yourself or your special ones from our wide range of quality products, from beauty accessories, toys, electronics to travel essentials.</i></p>
      <p class="ds-text"><i>Or incase you didn’t get the chance to buy gifts for someone at your destination, we also offer you the best Indonesian souvenirs and Garuda Indonesia merchandise for you to choose from. The perfect gifts for any season. Shop with us and feel the Garuda Indonesia experience!</i></p>
      <div class="garuda-paragraph-small">
        <h3 class="ds-text">How to buy</h3>
        <p class="ds-text">To view our catalogue, please browse the catalogue from your personal IFE screen and purchase your desired items through our Flight Attendants.</p>
      </div>
    </div>
  </div>
  <div class="garuda-footer itk-navigation itk-clearfix">
    <ul class="itk-list-hor-centered itk-clearfix">
      <li><a href="#terms-and-conditions">Terms & conditions</a></li>
      <li><a href="#privacy-policy">Privacy Policy</a></li>
      <li><a href="#sitemap">Site Map</a></li>
    </ul>
    <small class="ds-text">2013 Garuda Indonesia Airlines. All rights reserved.</small>
  </div>
</div><!-- End main-wrapper -->