<div id="garuda-content-wrapper"><!-- Different content here -->
  <div class="garuda-wrapper-info itk-clearfix">
    <h2 class="garuda-subheading-third-level ds-text">Sitemap</h2>
    <div class="garuda-connected-now">
            <a class="ae-comp current"
               data-type="wispUrl"
               data-captcha-page="captcha"
               data-href="#captcha"
               href="https://hotspot.t-mobile.net/wlan/start.do?lang=en_GB"
               target="_blank">
        <img src="../project_media/portal_media/img/desktop/connect_now.png" />
      </a>
    </div>
    <div class="garuda-wrapper-third-level">
      <div id="garuda-content-sitemap">
        <div class="garuda-sitemap-root">
          <a class="itk-navigation" href="#home">
            <p id="garuda-home-text" class="garuda-root-text garuda-subheading-third-level">Home</p>
          </a>
          <div class="garuda-sitemap-child">
            <img src="../project_media/portal_media/img/desktop/cm_btn.png" alt="sitemap-child" />
            <a class="itk-navigation" href="#internet-service">
              <p>Internet Service</p>
            </a>
          </div>
          <div class="garuda-sitemap-child">
            <img src="../project_media/portal_media/img/desktop/cm_btn.png" alt="sitemap-child" />
            <a class="itk-navigation" href="#packages">
              <p>Packages</p>
            </a>
          </div>
          <div class="garuda-sitemap-child">
            <img src="../project_media/portal_media/img/desktop/cm_btn.png" alt="sitemap-child" />
            <a class="itk-navigation" href="#gff">
              <p>GFF</p>
            </a>
          </div>
          <div class="garuda-sitemap-child">
            <img src="../project_media/portal_media/img/desktop/cm_btn.png" alt="sitemap-child" />
            <a class="itk-navigation" href="#shop">
              <p>Shop</p>
            </a>
          </div>
          <div class="garuda-sitemap-child">
            <img src="../project_media/portal_media/img/desktop/cm_btn_gray.png" alt="sitemap-child" />
            <a class="itk-navigation" href="#contact">
              <p>Contact</p>
            </a>
          </div>
          <div class="garuda-sitemap-child">
            <img src="../project_media/portal_media/img/desktop/cm_btn_gray.png" alt="sitemap-child" />
            <a class="itk-navigation" href="#faq">
              <p>FAQ</p>
            </a>
          </div>
          <div class="garuda-sitemap-child">
            <img src="../project_media/portal_media/img/desktop/cm_btn_gray.png" alt="sitemap-child" />
            <a class="itk-navigation" href="#terms-and-conditions">
              <p>Terms & Conditions</p>
            </a>
          </div>
          <div class="garuda-sitemap-child">
            <img src="../project_media/portal_media/img/desktop/cm_btn_gray.png" alt="sitemap-child" />
            <a class="itk-navigation" href="#privacy-policy">
              <p>Privacy Policy</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="garuda-footer itk-navigation itk-clearfix">
    <ul class="itk-list-hor-centered itk-clearfix">
      <li><a href="#terms-and-conditions">Terms & conditions</a></li>
      <li><a href="#privacy-policy">Privacy Policy</a></li>
      <li><a href="#sitemap">Site Map</a></li>
    </ul>
    <small class="ds-text">2013 Garuda Indonesia Airlines. All rights reserved.</small>
  </div>
</div>
<!-- End main-wrapper -->