<div id="garuda-content-wrapper"><!-- Different content here -->
  <div class="garuda-wrapper-info itk-clearfix">
    <h2 class="garuda-subheading-third-level ds-text">Kontak</h2>
    <div class="garuda-connected-now">
      <a class="ae-comp current" target="_blank" data-type="wispUrl"
         data-captcha-page="captcha" data-href="#captcha"
         href="https://hotspot.t-mobile.net/wlan/start.do?lang=id_ID">
        <img src="../project_media/portal_media/img/desktop/connect_now_bah.png" />
      </a>
    </div>
    <div id="garuda-contact-space" class="garuda-wrapper-third-level ds-text">
      <p class="ds-text">Untuk menghubungi kami mengenai layanan internet dapat melalui TELKOM customer care di
          +62-21-3863000
      </p>
    </div>
  </div>
  <div class="garuda-footer itk-navigation itk-clearfix">
    <ul class="itk-list-hor-centered itk-clearfix">
      <li><a href="#terms-and-conditions">Syarat dan Kondisi</a></li>
      <li><a href="#privacy-policy">Kebijakan Privasi</a></li>
      <li><a href="#sitemap">Peta Situs</a></li>
    </ul>
    <small class="ds-text">&copy; 2013 PT Garuda Indonesia (Persero) Tbk. All rights reserved. </small>
  </div>
</div>
<!-- End main-wrapper -->