<div id="garuda-content-wrapper"><!-- Different content here -->
  <div class="garuda-wrapper-info clearfix">
    <div class="garuda-wrapper-error">
      <h3 class="ds-text">This service is temporarily unavailable. Please try again later</h3>
      <a href="#"><img src="../project_media/portal_media/img/desktop/img_error_home.png" alt="This service is temporarily unavailable. Please try again later" /></a>
      <p class="ds-text">Home</p>
    </div>
  </div>
  <div class="garuda-footer itk-navigation itk-clearfix">
    <ul class="itk-list-hor-centered itk-clearfix">
      <li><a href="#terms-and-conditions">Syarat dan Kondisi</a></li>
      <li><a href="#privacy-policy">Kebijakan Privasi</a></li>
      <li><a href="#sitemap">Peta Situs</a></li>
    </ul>
    <small class="ds-text">&copy; 2013 PT Garuda Indonesia (Persero) Tbk. All rights reserved. </small>
  </div>
</div><!-- End main-wrapper -->
