<div id="garuda-content-wrapper"><!-- Different content here -->
  <div class="garuda-wrapper-info itk-clearfix">
    <h2 class="garuda-subheading-second-level ds-text">Garuda Frequent Flyer</h2>
    <div class="garuda-connected-now">
      <a class="ae-comp current" target="_blank" data-type="wispUrl"
         data-captcha-page="captcha" data-href="#captcha"
         href="https://hotspot.t-mobile.net/wlan/start.do?lang=id_ID">
        <img src="../project_media/portal_media/img/desktop/connect_now_bah.png" alt="connect now" />
      </a>
    </div>
    <div class="itk-caption-underlay-inner garuda-caption-second-level">
      <a class="ae-comp current" target="_blank" data-type="wispUrl"
         data-captcha-page="captcha" data-href="#captcha"
         href="https://hotspot.t-mobile.net/wlan/start.do?lang=id_ID">
        <img src="../project_media/portal_media/img/desktop/img_gff.jpg" alt="The Garuda Indonesia Frequent Flyer Program" />
      </a>
      <!--
      <div>
        <a class="itk-navigation">Go to The GA Website</a>
        <small class="ds-text">(Internet connection package purchase is necessary)</small>
      </div>
      -->
    </div>
    <div>
      <p class="ds-text"><i>Nikmati berbagai keuntungan dengan menjadi anggota GFF, seperti GFF Mileage, ekstra bagasi, akses
          ke Executive Lounge, diprioritaskan untuk pelayanan terbaik, dan informasi promo menarik yang khusus
          dihadirkan bagi anggota GFF.</i></p>
      <div class="garuda-paragraph-small">
        <p class="ds-text">Sebagai Anggota GFF Anda mendapatkan keuntungan maksimal ketika terbang dengan Garuda Indonesia
          atau partner kami. GFF Mileage dapat ditukarkan dengan Award Ticket pada penerbangan Garuda
          Indonesia atau upgrade ke kelas eksekutif. Penukaran ini juga dapat dihadiahkan kepada keluarga atau
          kolega Anda.</p>
          
        <p class="ds-text">GFF Mileage dapat dikumpulkan dari aktifitas terbang dengan Garuda Indonesia dan maskapai
          penerbangan partnernya, berbelanja di pesawat, menginap di hotel partner GFF atau menukarkan
          reward point dari partner kami. Dan bila Anda memiliki Garuda Indonesia Citi Card atau Garuda Indonesia
          BNI Credit Card, setiap transaksi Anda akan mendapatkan GFF Mileage.</p>

        <p class="ds-text">Semua keistimewaan GFF ini dapat Anda miliki dengan mudah. Jadilah anggota GFF dengan mendaftar
          online di <a class="ae-comp current btn btn-cta-primary ae-comp garuda-blue-color" target="_blank" data-type="JSEngine.CaptchaURL" data-captcha-page="captcha" href="http://gff.garuda-indonesia.com">gff.garuda-indonesia.com</a> atau mengisi formulir pendaftaran yang tersedia di semua Sales Office
          Garuda Indonesia dan di pesawat ini.</p>
        <p class="ds-text">Semua keuntungan GFF menanti Anda...</p>
        <p class="ds-text"><small class="ds-text">Syarat & Ketentuan Berlaku</small></p>
      </div>
    </div>
  </div>
  <div class="garuda-footer itk-navigation itk-clearfix">
    <ul class="itk-list-hor-centered itk-clearfix">
      <li><a href="#terms-and-conditions">Syarat dan Kondisi</a></li>
      <li><a href="#privacy-policy">Kebijakan Privasi</a></li>
      <li><a href="#sitemap">Peta Situs</a></li>
    </ul>
    <small class="ds-text">&copy; 2013 PT Garuda Indonesia (Persero) Tbk. All rights reserved. </small>
  </div>
</div>

