<div id="garuda-content-wrapper"><!-- Different content here -->
  <div class="garuda-wrapper-info itk-clearfix">
    <h2 class="garuda-subheading-second-level ds-text">Tentang Garuda Inflight Connectivity</h2>
    <div class="garuda-connected-now">
      <a class="ae-comp current" target="_blank" data-type="wispUrl"
         data-captcha-page="captcha" data-href="#captcha"
         href="https://hotspot.t-mobile.net/wlan/start.do?lang=id_ID">
        <img src="../project_media/portal_media/img/desktop/connect_now_bah.png" alt="connect now" />
      </a>
    </div>
    <img src="../project_media/portal_media/img/desktop/img_about.jpg" alt="About Garuda Inflight Connectivity" />
    <p class="ds-text">Nikmati layanan akses internet melalui layanan Garuda Inflight Connectivity. Layanan ini
      memungkinkan Anda dapat tetap terhubung pada dunia selama penerbangan melalui laptop
      maupun smartphone anda. Anda dapat memeriksa dan mengirim email, memperbarui status
      dijejaring sosial dan melihat situs favorit anda dari udara!</p>
    
    <div class="garuda-block-info-is">
      <h3 class="ds-text">Tetap terhubung dengan</h3>
      <ul>
        <li class="ds-text">Jejaring Sosial</li>
        <li class="ds-text">Berita</li>
        <li class="ds-text">News</li>
        <li class="ds-text">Travel Information</li>
        <li class="ds-text">Email</li>
        <li class="ds-text">Pembayaran</li>
        <li class="ds-text">Layanan Perbankan</li>
        <li class="ds-text">Pesan cepat</li>
        <li class="ds-text">Informasi perjalanan</li>
        <li class="ds-text">Permainan</li>
        <li class="ds-text">Musik</li>
        <li class="ds-text">Masih banyak lagi</li>
      </ul>
    </div>
    <div class="garuda-block-info-is">
      <h3 class="ds-text">Cara untuk online!</h3>
      <ol>
        <li class="ds-text">Tekan tombol connect</li>
        <li class="ds-text">Pilih satu dari tiga jenis paket yang ditawarkan untuk mendapatkan username dan
          password anda</li>
        <li id="garuda-number-three" class="ds-text">Masukan username dan password di internet login, kemudian tekan connect, dan anda
          sudah terhubung!</li>
      </ol>
    </div>
  </div>
  <div class="garuda-footer itk-navigation itk-clearfix">
    <ul class="itk-list-hor-centered itk-clearfix">
      <li><a href="#terms-and-conditions">Syarat dan Kondisi</a></li>
      <li><a href="#privacy-policy">Kebijakan Privasi</a></li>
      <li><a href="#sitemap">Peta Situs</a></li>
    </ul>
    <small class="ds-text">&copy; 2013 PT Garuda Indonesia (Persero) Tbk. All rights reserved. </small>
  </div>
</div>