<div id="garuda-content-wrapper"><!-- Different content here -->
  <div class="garuda-wrapper-info itk-clearfix">
    <h2 class="garuda-subheading-second-level ds-text">Paket Internet yang Ditawarkan</h2>
    <div class="garuda-img-fix-position">
      <img class="garuda-packages" src="../project_media/portal_media/img/desktop/img_packages.jpg" alt="About Garuda Inflight Connectivity" />
      <a class="ae-comp current" target="_blank" data-type="wispUrl"
         data-captcha-page="captcha" data-href="#captcha"
         href="https://hotspot.t-mobile.net/wlan/start.do?lang=id_ID">
        <img id="garuda-get-connected" src="../project_media/portal_media/img/desktop/img_connected_2_bah.png" alt="Get Connected Now" />
      </a>
    </div>
    <p class="ds-text">Kami menawarkan beberapa pilihan paket internet yang sesuai dengan keinginan anda. Cukup
      dengan menekan tombol “Terhubung Sekarang!” untuk membeli dan tetap terhubung dengan
      dunia. Duduk santai, rileks dan nikmati pengalaman bersama Garuda Indonesia.</p>
    
    <div class="garuda-block-info-is">
      <dl>
        <dt class="ds-text">11.95 USD untuk 1 jam</dt>
        <dd class="ds-text">Paket ini cocok untuk Anda yang bepergian dalam jarak tempuh pendek</dd>
        <dt class="ds-text">21.95 USD untuk 24 jam</dt>
        <dd class="ds-text">Paket ini cocok untuk Anda yang bepergian dalam jarak tempuh jauh atau menggunakan
          connecting flight. Paket ini akan tetap tersedia di penerbangan Anda selanjutnya.</dd>
      </dl>
    </div>
  </div>
  <div class="garuda-footer itk-navigation itk-clearfix">
    <ul class="itk-list-hor-centered itk-clearfix">
      <li><a href="#terms-and-conditions">Syarat dan Kondisi</a></li>
      <li><a href="#privacy-policy">Kebijakan Privasi</a></li>
      <li><a href="#sitemap">Peta Situs</a></li>
    </ul>
    <small class="ds-text">&copy; 2013 PT Garuda Indonesia (Persero) Tbk. All rights reserved. </small>
  </div>
</div>