<div id="garuda-content-wrapper"><!-- Different content here -->
  <div class="garuda-wrapper-info itk-clearfix">
    <h2 class="garuda-subheading-second-level ds-text">Garuda Shop on Board</h2>
    <div class="garuda-connected-now">
      <a class="ae-comp current" target="_blank" data-type="wispUrl"
         data-captcha-page="captcha" data-href="#captcha"
         href="https://hotspot.t-mobile.net/wlan/start.do?lang=id_ID">
        <img src="../project_media/portal_media/img/desktop/connect_now_bah.png" alt="connect now" />
      </a>
    </div>
    <div class="itk-caption-underlay-inner garuda-caption-second-level">
      <!--<a class="ae-comp current" target="_blank" data-type="wispUrl"
         data-captcha-page="captcha" data-href="#captcha"
         href="https://hotspot.t-mobile.net/wlan/start.do?lang=id_ID">-->
        <img src="../project_media/portal_media/img/desktop/img_shop.jpg" alt="About Garuda Inflight Connectivity" />
      <!--</a>
      
      <div>
        <a class="itk-navigation">Go to The GA Website</a>
        <small class="ds-text">(Internet connection package purchase is necessary)</small>
      </div>
      -->
    </div>
    <div>
      <p class="ds-text"><i>Nikmati kemudahan berbelanja di udara melalui Garuda Shop on Board. Temukan sesuatu untuk anda atau orang terdekat anda melalui berbagai produk berkualitas dari kami, mulai dari aksesoris kecantikan, mainan, elektronik hingga barang-barang penting untuk perjalanan.</i></p>

      <p class="ds-text"><i>Atau ketika anda tidak mendapatkan kesempatan membeli oleh-oleh untuk seseorang di tempat tujuan Anda, kami juga menawarkan souvenir terbaik dari Indonesia dan barang-barang spesial dari kami yang dapat anda pilih. Hadiah sempurna untuk setiap saat. Berbelanjalah dengan kami dan rasakan pengalaman bersama Garuda Indonesia!</i></p>

      <div class="garuda-paragraph-small">
        <h3 class="ds-text">Cara Untuk Membeli</h3>
        <p class="ds-text">Untuk melihat katalog kami, silahkan lihat melalui layar pribadi IFE Anda dan membeli item yang diinginkan melalui Flight Attendants kami.</p>
      </div>
    </div>
  </div>
  <div class="garuda-footer itk-navigation itk-clearfix">
    <ul class="itk-list-hor-centered itk-clearfix">
      <li><a href="#terms-and-conditions">Syarat dan Kondisi</a></li>
      <li><a href="#privacy-policy">Kebijakan Privasi</a></li>
      <li><a href="#sitemap">Peta Situs</a></li>
    </ul>
    <small class="ds-text">&copy; 2013 PT Garuda Indonesia (Persero) Tbk. All rights reserved. </small>
  </div>
</div><!-- End main-wrapper -->