<div id="garuda-content-wrapper"><!-- Different content here -->
  <div class="garuda-wrapper-info itk-clearfix">
    <h2 class="garuda-subheading-third-level ds-text">Peta Situs</h2>
    <div class="garuda-connected-now">
      <a class="ae-comp current" target="_blank" data-type="wispUrl"
         data-captcha-page="captcha" data-href="#captcha"
         href="https://hotspot.t-mobile.net/wlan/start.do?lang=id_ID">
        <img src="../project_media/portal_media/img/desktop/connect_now_bah.png" />
      </a>
    </div>
    <div class="garuda-wrapper-third-level">
      <div id="garuda-content-sitemap">
        <div class="garuda-sitemap-root">
          <a class="itk-navigation" href="#home">
            <p id="malindo-home-text" class="garuda-root-text garuda-subheading-third-level">Beranda</p>
          </a>
          <div class="garuda-sitemap-child">
            <img src="../project_media/portal_media/img/desktop/cm_btn.png" alt="sitemap-child" />
            <a class="itk-navigation" href="#internet-service">
              <p>Layanan Internet</p>
            </a>
          </div>
          <div class="garuda-sitemap-child">
            <img src="../project_media/portal_media/img/desktop/cm_btn.png" alt="sitemap-child" />
            <a class="itk-navigation" href="#packages">
              <p>Paket</p>
            </a>
          </div>
          <div class="garuda-sitemap-child">
            <img src="../project_media/portal_media/img/desktop/cm_btn.png" alt="sitemap-child" />
            <a class="itk-navigation" href="#gff">
              <p>GFF</p>
            </a>
          </div>
          <div class="garuda-sitemap-child">
            <img src="../project_media/portal_media/img/desktop/cm_btn.png" alt="sitemap-child" />
            <a class="itk-navigation" href="#shop">
              <p>Belanja</p>
            </a>
          </div>
          <div class="garuda-sitemap-child">
            <img src="../project_media/portal_media/img/desktop/cm_btn_gray.png" alt="sitemap-child" />
            <a class="itk-navigation" href="#contact">
              <p>Kontak</p>
            </a>
          </div>
          <div class="garuda-sitemap-child">
            <img src="../project_media/portal_media/img/desktop/cm_btn_gray.png" alt="sitemap-child" />
            <a class="itk-navigation" href="#faq">
              <p>FAQ</p>
            </a>
          </div>
          <div class="garuda-sitemap-child">
            <img src="../project_media/portal_media/img/desktop/cm_btn_gray.png" alt="sitemap-child" />
            <a class="itk-navigation" href="#terms-and-conditions">
              <p>Syarat dan Kondisi</p>
            </a>
          </div>
          <div class="garuda-sitemap-child">
            <img src="../project_media/portal_media/img/desktop/cm_btn_gray.png" alt="sitemap-child" />
            <a class="itk-navigation" href="#privacy-policy">
              <p>Kebijakan Privasi</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="garuda-footer itk-navigation itk-clearfix">
    <ul class="itk-list-hor-centered itk-clearfix">
      <li><a href="#terms-and-conditions">Syarat dan Kondisi</a></li>
      <li><a href="#privacy-policy">Kebijakan Privasi</a></li>
      <li><a href="#sitemap">Peta Situs</a></li>
    </ul>
    <small class="ds-text">&copy; 2013 PT Garuda Indonesia (Persero) Tbk. All rights reserved. </small>
  </div>
</div>
<!-- End main-wrapper -->