/*--------------------
----------------------
RESETS
----------------------
--------------------*/


/*--------------------
UNIVERSAL
--------------------*/
body.ie6 hr
{
	margin:14px 0;
}




/*--------------------
----------------------
ELEMENTS
----------------------
--------------------*/


/*--------------------
IMAGES
--------------------*/
body.ie6 img
{
	-ms-interpolation-mode:bicubic;
}


/*--------------------
LISTS
--------------------*/


/*--------------------
EXTENDED LISTS
--------------------*/

/*--------------------
HORIZONTAL CENTERED LIST
--------------------*/
body.ie6 .itk-list-hor-centered li
{
	display:inline;
	zoom:1;
}


/*--------------------
HORIZONTAL LIST
--------------------*/
body.ie6 #itk-wrapper .itk-list-hor-divide-1 li
{
	background-image:url('../img/interface/lists/bg-divide-1.gif');
}


/*--------------------
FEED LIST
--------------------*/
body.ie6 .itk-list-feed li
{
	zoom:1;
}

body.ie6 .itk-list-feed li li
{
	zoom:0;
}


/*--------------------
FORMS
--------------------*/


/*--------------------
GENERIC FORM
--------------------*/
body.ie6 .itk-form-divide
{
	padding-bottom:1em; /*bottom margin collapse on floated div.input elements*/
}

body.ie6 .itk-input
{
	height:1em;
}


/*--------------------
INPUT DIV ELEMENTS
--------------------*/
body.ie6 #itk-wrapper .itk-check-radio
{
	zoom:1;
}

body.ie6 #itk-wrapper .itk-check-radio input
{
	top:-3px;
}


body.ie6 input.itk-radio,
body.ie6 input.itk-checkbox
{
	margin-left:-4px;
}


/*--------------------
LAYOUT
--------------------*/
body.ie6.itk-grid
{
	height:1px;
}




/*--------------------
----------------------
COMPONENTS
----------------------
--------------------*/


/*--------------------
SKIP LINKS
--------------------*/
body.ie6 .itk-skip-links
{
	position:absolute;
	width:100%;
}




/*--------------------
----------------------
HELPERS
----------------------
--------------------*/


/*--------------------
CLEARFIX
--------------------*/
body.ie6 .itk-clearfix
{
	zoom:1;
}


/*--------------------
REPLACED - Scot Kellum method
--------------------*/
body.ie6 #itk-wrapper .itk-replaced
{
	text-indent:-5000px;
}