/*--------------------
----------------------
HELPERS
----------------------
--------------------*/


/*--------------------
CLEARFIX http://nicolasgallagher.com/micro-itk-clearfix-hack/
--------------------*/
body.ie8 .itk-clearfix:before,
body.ie8 .itk-clearfix:after
{
	content:"";
	display:table;
}

body.ie8 .itk-clearfix:after
{
	clear:both;
}